.signing-form {
  .hsb {
    margin: 1rem;
    span {
      padding: 2px;
      text-transform: uppercase;
    }
  }

  &__field,
  &__value {
    input {
      width: 100%;
    }

    margin-bottom: 1rem;
  }

  &__submit {
    margin: 1rem;
    float: right;
  }
}
